.header {
  /* position: fixed; */
  display: flex;
  /* justify-content: right; */
  justify-content: flex-end;
  background: #002D40;
  height: 55px;
  color: #e9e7e5;
}

.header span {
  font-size: 1.8rem;
  font-weight: 300;
}

.header .logo {
  margin-top: 5px;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}


/* .header a  img {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  color: #000000;
}

.header .title-group {
  padding-left: 35px;
}

.header .title-group i {
  padding-right: 5px;
} */