.header {
  /* position: fixed; */
  display: flex;
  /* justify-content: right; */
  justify-content: flex-end;
  background: #002D40;
  height: 55px;
  color: #e9e7e5;
}

.header .logo {
  margin-top: 5px;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.title-group a {
  text-decoration: none;
  /* Remove o decorado quando passar o mouse em cima */
  color: #e9e7e5;
  margin-right: 10px;
  font-size: 1.1rem;
}