.sidenav {
  background: #EDEDED; 
  border-right: solid 2px #c9c6c6;
  width: 130px;
}

.sidenav a {
   color: #441528;
   /*#002D40; */
}

.sidenav i {
  padding-right: 10px;
}

.content {
  padding: 16px;
  background-color: #FFFFFF
}

.mat-list-item {
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .mat-list-item {
    font-size: 1rem;
  }
}