<mat-card>
    <mat-card-title class="conf_color">
       Editar dados do Cliente
    </mat-card-title>
    <form action="" *ngIf="client"> <!-- Ao colocar essa propriedade faz com que o formulário só seja esxibido quando os dados tiverem sido carregados em cliente -->
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="client.nome" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone" [(ngModel)]="client.telefone" name="phone">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="client.email" name="email">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
    <button mat-raised-button (click)="updateClient()" color="primary">
        Salvar
    </button>

</mat-card>